<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-6-offest-3">
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="txtUserName" class="form-label mt-4">
                        Username:
                    </label>
                    <input type="text" id="txtUserName" class="form-control">

                    <!-- error displayer -->
                    <!-- <div class="alert alert-danger">
                        <div>

                        </div>
                    </div> -->
                </div>

                <div class="form-group">
                    <label for="txtPassword" class="form-label mt-4">
                        Password:
                    </label>
                    <input type="password" id="txtPassword" class="form-control">

                    <!-- error displayer -->
                    <!-- <div class="alert alert-danger">
                        <div>
                            
                        </div>
                    </div> -->
                </div>

                <div class="container-fluid btn-center">
                    <button type="submit" class="btn btn-primary">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>