@if(!isRequestOver()){
<app-spinner></app-spinner>
}@else if(errorInfo()!==''){
<span>{{errorInfo()}}</span>
}@else if(products().length===0){
<app-no-record [noRecordMessage]="message"></app-no-record>
}@else {
<table class="table table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody class="table-active">
        <!-- @for (p of products(); track $index) -->
        @for (p of products()|productFilter:filterText(); track $index)
        {
        <tr>
            <td>
                <img [src]="p.imageUrl" alt="NA" [title]="p.productName" class="img-box"
                    [routerLink]="['/products/view', p.productId]">
            </td>
            <td>
                {{p.productName|uppercase}}
            </td>
            <td>
                {{p.price|currency:'INR'}}
            </td>
            <td>
                <!-- {{p.starRating}} -->
                <app-star [ratingValue]="p.starRating"></app-star>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="delete(p.productId)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}