@if(productInfo && productForm){
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-6-offest-3">
            <form class="form-horizontal" [formGroup]="productForm">
                <div class="form-group">
                    <label for="productId" class="form-label mt-4">
                        Id:
                    </label>
                    <input type="number" name="productId" id="productId" class="form-control" readonly
                        formControlName="productId">
                </div>

                <div class="form-group">
                    <label for="productName" class="form-label mt-4">
                        Name:
                    </label>
                    <input type="text" name="productName" id="productName" class="form-control"
                        formControlName="productName" placeholder="enter product name">

                    <!-- error displayer -->
                    <!-- <div class="alert alert-danger">
                        <div>

                        </div>
                    </div> -->

                </div>

                <div class="form-group">
                    <label for="productCode" class="form-label mt-4">
                        Code:
                    </label>
                    <input type="text" name="productCode" id="productCode" class="form-control"
                        placeholder="enter product code" formControlName="productCode">

                    <!-- error displayer -->
                    <!-- <div class="alert alert-danger">
                        <div>

                        </div>
                    </div> -->
                </div>

                <div class="form-group">
                    <label for="description" class="form-label mt-4">
                        Description:
                    </label>
                    <input type="text" name="description" id="description" class="form-control"
                        placeholder="enter product description" formControlName="description">

                    <!-- error displayer -->
                    <!-- <div class="alert alert-danger">
                        <div>

                        </div>
                    </div> -->
                </div>

                <div class="form-group">
                    <label for="releaseDate" class="form-label mt-4">
                        Released On:
                    </label>
                    <input type="datetime" name="releaseDate" id="releaseDate" class="form-control"
                        placeholder="enter product releaseDate" formControlName="releaseDate">

                    <!-- error displayer -->
                    <!-- <div class="alert alert-danger">
                        <div>

                        </div>
                    </div> -->
                </div>

                <div class="form-group">
                    <label for="price" class="form-label mt-4">
                        Price:
                    </label>
                    <input type="number" name="price" id="price" class="form-control" placeholder="enter product price" formControlName="price">

                    <!-- error displayer -->
                    <!-- <div class="alert alert-danger">
                        <div>

                        </div>
                    </div> -->
                </div>

                <div class="form-group">
                    <label for="starRating" class="form-label mt-4">
                        Rating:
                    </label>
                    <input type="number" name="starRating" id="starRating" class="form-control"
                        placeholder="enter product rating" formControlName="starRating">

                    <!-- error displayer -->
                    <!-- <div class="alert alert-danger">
                        <div>

                        </div>
                    </div> -->
                </div>

                <div class="form-group">
                    <label for="imageUrl" class="form-label mt-4">
                        URL:
                    </label>
                    <input type="text" name="imageUrl" id="imageUrl" class="form-control"
                        placeholder="enter product url" formControlName="imageUrl">

                    <!-- error displayer -->
                    <!-- <div class="alert alert-danger">
                        <div>

                        </div>
                    </div> -->
                </div>

                <div class="container-fluid btn-center">
                    <button type="submit" class="btn btn-primary" (click)="update()">
                        Update
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
}